.exhibit-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
}

.page {
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    padding: 20px;
}
